<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">

	<!-- wp:pattern {"slug":"take-action-theme/hero"} /-->

	<!-- wp:heading {"level":2,"fontSize":"x-large"} -->
	<h2 class="wp-block-heading has-x-large-font-size">Upcoming Events</h2>
	<!-- /wp:heading -->

	<!-- wp:take-action/event-list {"limit":20,"showFilter":true,"showSubscribe":true} /-->

	<!-- wp:spacer {"height":"48px"} -->
	<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:take-action/action-hub /-->

	<!-- wp:spacer {"height":"48px"} -->
	<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:heading {"level":2,"fontSize":"x-large"} -->
	<h2 class="wp-block-heading has-x-large-font-size">Organizations</h2>
	<!-- /wp:heading -->

	<!-- wp:take-action/org-directory {"showFilter":true,"columns":2} /-->

	<!-- wp:spacer {"height":"48px"} -->
	<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->

	<!-- wp:heading {"level":2,"fontSize":"x-large"} -->
	<h2 class="wp-block-heading has-x-large-font-size">Pro-Democracy Businesses</h2>
	<!-- /wp:heading -->

	<!-- wp:take-action/business-directory {"columns":3} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
